KAFKA_BOOTSTRAP_SERVERS=

BEANSTALK_HOST=
BEANSTALK_PORT=

RABBITMQ_HOST=
RABBITMQ_PORT=
RABBITMQ_USER=
RABBITMQ_PASS=

HBASE_HOST=
HBASE_PORT=

S3_HOST=
S3_PORT=
S3_ACCESS_KEY=
S3_SECRET_KEY=
S3_BUCKET_NAME=

MONGO_URI=
MONGO_DB=
MONGO_COLLECTION=

PG_HOST=
PG_PORT=
PG_USER=
PG_PASS=
PG_DBNM=

SSDB_HOST=
SSDB_PORT=

ELASTICSEARCH_HOST=
ELASTICSEARCH_PORT=
ELASTICSEARCH_USERNAME=
ELASTICSEARCH_PASSWORD=